*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    --font-lexend: "Lexend Deca", sans-serif;
    --font-big-shoulders: "Big Shoulders Display", sans-serif;
}
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: var(--font-big-shoulders);
}
.cards{
    font-family: var(--font-lexend);
    display: flex;
    flex-direction: column;

    padding: 2rem;

    height: 450px;
    width: 300px;  
    
    gap: 1rem;

    color: var(--transparent-white);
}
.img-cards{
    width: 60px;
    height: 40px;
}
.card-one > h1, .card-two > h1 , .card-three > h1{
    font-size: 2.2em;
}
.card-one{
    border-radius: 10px 0 0 10px;
    background: var(--bright-orange);
}
.card-two{
    background: var(--dark-cyan);
}
.card-three{
    background: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
}
.p-card-one{
    max-width: 180px;
}
.p-card-two{
    max-width: 200px;
}
.p-card-three{
    max-width: 190px;
}
.button{
    font-family: var(--font-lexend);
    margin-top: 80px;
    border: none;
    height: 2.8rem;
    width: 8rem;
    border-radius: 20px;
}
.button-one{
    color: var(--bright-orange);
}
.button-two{
    color: var(--dark-cyan);
}
.button-three{
    color: var(--very-dark-cyan);
}
.button:hover{
    border: 2px solid var(--transparent-white);
    background: transparent;
    color: var(--transparent-white);
}
@media (max-width: 375px) {
    .container-main{
        height: 300vh;
        flex-direction: column;
    }
    .card-one, .card-two, .card-three{
        border-radius: 0;
    }

}